@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  background: #0a0a0a;
  color: #ededed;
  color-scheme: dark;
  font-family: Arial, Helvetica, sans-serif;
}
